body {
    margin: 0;
    height: 100dvh;
    width: 100dvw;
    background-color: #fff;
    font-family: Poppins, sans-serif;
    position: relative;
}

.jp-wrapper {
    height: 100%;
    width: 100%;
}

.jp-header {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.jp-body {
    height: calc(100% - 80px);
    width: 100%;
    overflow-y: scroll;
}

.jp-title {
    padding-left: 2rem;
}

.jp-title .jp-user {
    font-size: 20px;
    font-weight: 700;
    color: #2d2e32;
    cursor: pointer;
}

.jp-menu {
    display: flex;
    gap: 2rem;
    padding-right: 2rem;
}

.jp-menu .jp-home  {}
