body {
    margin: 0;
    height: 100dvh;
    width: 100dvw;
    background-color: #fff;
    font-family: Poppins, sans-serif;
    position: relative;
}

#top {
    height: 100%;
}

#heading {
    -webkit-user-select: none;
    position: absolute;
    top: 50%;
    margin-top: -150px;
    text-align: center;
    width: 100%;
}

#logo {
    font: 150px 'Italiana', sans-serif;
}

#tagline {
    font-size: 16px;
}